parameters:
    level: 8
    paths:
        - %rootDir%/src/

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/MonsieurBizSyliusHomepageExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'

        # Menu Provider
        - 'src/Menu/HomepageUrlProvider.php'

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
